/*Food blog CSS sytling*/
@font-face {
    font-family: 'sansationregular';
    src: url('type/sansation-regular-webfont.eot');
    src: url('type/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/sansation-regular-webfont.woff') format('woff'),
         url('type/sansation-regular-webfont.ttf') format('truetype'),
         url('type/sansation-regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header{
	display:block;
	height:80%;
	background-color: #E07946;
}

.page{
	min-height:100%;
	width: 100%;
	margin: auto;
	font-family: 'sansationregular';

}


h2{
	color:#F57507;
	font-size: 200%;
	text-align: justify;
	width: 100%;
}

h3{
	text-align: justify;
	font-size: 130%;
}


#nav{
	position: relative;
	display:inline-block;
	width:100%;
	margin-top: 0;
	background-color: #595758;
	padding: 0.3em 0;
	word-spacing: 2em;
	font-size: 1.6em;
}

#nav ul{	
	position: relative;
	left: 1.7em;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav ul li{
	display: inline;
}	

#nav ul li a{
	color: #FAFBFC;
	text-decoration: none;
}

#nav ul li a:hover{
	color:#99CCFF;
	font-size: 110%;

}

.content{
	width: 100%;
}

#side-nav{
		margin-top:1.5em; 
		display: block;
		float:left;
		position:relative;
		left:1.5em;
		width: 20%;
		height: auto;
		font-size: 1.3em;
		font-weight: bold;
		background-color: #CFCFCF;
}

#side-nav ul{
	list-style-type:none;
	text-align: center;
	margin:0;
	padding:1em;
}

#side-nav ul li{
	padding: 0.5em 0;
}

#side-nav ul li a{
	text-decoration: none;
	color: #000000;
}

#contentContainer{
	width:70%; 
	margin:auto;
	float:right;
}

#column1{
	background-color: #FFFFFF;	
	padding: 0.5em 3.75em;
	margin:1em;
	line-height: 1.5em;
}

.clear{
	clear:left;
}

.image1{
	position: relative;
	float: left;
	margin: 0 auto;
	padding: 1em 2.5em;
}

.image2{
	position: relative;
	float:left;
	margin: 0 auto;
	padding: 1em 2.5em;
}

.imageborder{
	border: 0.4em solid #CFCFCF;
	height: 200px; 
	width: 300px;
}


.image3{
	position: relative;
	margin:0 auto;
	border: 0.5em solid #CFCFCF;
	height: 400px;
	width: 606px;
}


#Top{
	text-decoration: none;
	font-size: 1em;
	font-family: sans-serif;
}

/*contact page links*/

#contact a{
	text-decoration: none;
	font-size: 1.3em;
}


#footer {
	clear:both;
	width: 100%;
	height: 275%;
	background-color:#595758;
	color:#FAFBFC;
	text-align: left;
	font-family: sans-serif;
	padding:15px;
	border-top: 6px #E07946 solid;

}

@media (max-width: 640px){
	h2{
		font-size: 120%;
	}

	h3{
		font-size: 80%;
	}

	#side-nav{
		width:30%;
		font-size: 1em;
	}
	#contentContainer{ 
		width: 70%;
	}
}


@media (max-width: 520px) {
	#nav{
		word-spacing: 1em;
	}

	#nav ul{	
	left: 0em;
	}

	 #side-nav{
		width:30%;
		font-size: 1em;
	}
	#contentContainer{ 
		width: 70%;
	}

	#column1{
		padding: 0.3em 2em;
		font-size: 1em;
	}

	.imageborder{
	border: 0.2em solid #CFCFCF;
	height: 145px; 
	width: 216px;
	}

	.image1{
	padding: 0em;
	}

.image2{
	
	padding: 0em;
	}

	.figcap{
		font-size: .5em;
	}


}







