/*Super blog CSS styling*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular-webfont.eot');
    src: url('type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular-webfont.woff') format('woff'),
         url('type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.page{
	min-height: 100%;
	color:#000;
	font-size:62.5%;
	width:95%;
	margin:auto;
}

#main-header{
	display:block;
	width: 100%;
	height:auto;
	border-bottom: 3px #aaa solid;
	padding-bottom: 1em;
}

a{
	text-decoration: none;
	color:#000;
}

#top-nav{
	position:relative;
	top:6em;
	display: inline-block;
	float: right;
	font-size: 1.5em;
	padding:0;
	word-spacing: 2em;
}	


#top-nav ul{
	margin:0;
	padding: 0;
}
	
#top-nav ul li{
		display: inline;
		padding: 0;
		margin: 0;
		font-weight: bold;
		font-family: sans-serif;
}


ul {

	display: block;
	list-style-type: disc;
}

#contentWrapper{
	clear: both; 
	min-height: 0.625em; 
	overflow: hidden;
}

#leftNav{
	float: left; 
	width: 30%;
}


#side-nav{
		display: block;
		float: left;
		width: 60%;
		height: auto;
		font-family: sans-serif;
		font-size: 1.3em;
		font-weight: bold;
		margin-top: 2em;
}

#side-nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#side-nav ul li{
	padding: 0.7em 0;
}


#posts{
	display: block;
	height: auto;
	font-family: 'league_gothicregular';
	font-size: 1.3em;
	margin: 0 2em;
	padding: 0;
}

#maincontent{
	float: left; 
	width: 70%;
}


a {
	text-decoration: none;
	color: #000;
}

#posts article{
	padding: 1em 0;
}

#posts time{
	margin:0;
	padding:0;
	font-weight: normal;
}

#posts h2{
	font-size: 3.5em;
	font-family: 'league_gothicregular';
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

p{
	display: block;
	line-height: 1.5em;

}

#footer{
	display: block;
	clear: both;
	width:100%;
	height: auto;
	border-top: 0.2em #aaa solid;
}


#copyright{
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.8em 0;
	margin: 0;

}

@media (max-width: 720px) {
	 #top-nav{
		position:absolute;
		right: 0px;
		width:400px;
	}	
}

@media (max-width: 520px) {
	 #side-nav{
		width:50%;
		line-height: 1.4em;
	}
	#maincontent{ 
		width: 50%;
	}
}












