body,
html {
  width: 100%;
  height: 100%;
}

body {
  /*font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;*/
  font-family: "Avenir LT W01_45 Book1475508", 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

hr.yellow {
  max-width: 50px;
  border-width: 3px;
  border-color: #EDCE60;
}

hr.light {
  border-color: #fff;
}

a {
  color: #EDCE60;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #EDCE60;
  opacity: 0.9;
}

h3 {
    line-height: 1.6;
}

p{
  font-size: 1.125rem;
}

.text-small{
  font-size: 0.85rem;
}

.bg-primary {
  background-color: #000 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-light{
  background-color: #F5F5F5 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.full-comp-shadow{
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

section {
  padding: 4rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #EDCE60;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #EDCE60 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

.navbar-light .navbar-toggler {
  background-color: #FFF;
  border-color: rgba(255, 255, 255, 0.5);
}


@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(195, 195, 195, 0.3);
    background-color: #000;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #FFF;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #000;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #FFF;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #EDCE60;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2.5rem;
}

header.masthead p {
  font-weight: 300;
}

/* Project Headers */

header.masthead.project {
  background-image: none;
  height: 40vh;
  min-height: 280px;
  background-color: #000;
  padding-top: 3rem;
  padding-bottom: 0;
}


@media (min-width: 768px) {
  header.masthead p {
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 2.5rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  max-height: 250px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #000;
  background: rgba(237, 206, 96,0.85);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 1.25rem;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #EDCE60;
  border-color: #EDCE60;
  color: #222;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #EDCE60 !important;
  opacity: 0.9;
  color: #222;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: none !important;
}

.down-trigger {
  border: 1px solid #FFF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.down-trigger:hover {
    background: rgba(237,206,96,0.65);
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #FFF;
  margin: 0 auto;
  margin-top: 20px;
}

.down-arrow{
  font-size: 2.5rem;
  color: #fff;
  margin-top: 5px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.fa-envelope {
  color: #fff;
}
