<!DOCTYPE html>
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/bootstrap.min.css">
	</head>
	<body ng-controller="StoreController as store">

	<li ng-repeat="product in store.products">
		{{product.name}}
		<em class="pull-right">{{product.price | currency}}</em>
		<img ng-src="{{product.images[0].full}}"/>
	 	<button ng-show="product.canPurchase"> Add to Cart</button>

	 		<section ng-controller="PanelController as panel">
	 			<ul class="nav nav-pills">
	 				<li ng-show="{active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)"></a>{{product.description}}</li>
	 				<li ng-show="{active: panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)"></a>Specifications</li>
	 				<li ng-show="{active: panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)"></a>Reviews</li>
	 			</ul>
	 		</section>

	</li>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	</body>
</html>